<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAH6dGDyi4rvnbuBWkF76w8PqnOcfdL_HQ</string>
	<key>GCM_SENDER_ID</key>
	<string>989679965730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>P24L.Limit</string>
	<key>PROJECT_ID</key>
	<string>limit-analytics</string>
	<key>STORAGE_BUCKET</key>
	<string>limit-analytics.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:989679965730:ios:23b90a28a15c3ad6291c7b</string>
</dict>
</plist>
